# .env.example

# PostgreSQL connection string
DATABASE_URL=

# JWT secret for signing tokens
JWT_SECRET=

# (Optional) Port number if you want to override 5000
PORT=

SUPABASE_URL=

SUPABASE_ANON_KEY=

SUPABASE_SERVICE_ROLE_KEY=